<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plateer.ec1.product.mapper.ProductMapper">
    <select id="getGoodsBaseInfo" parameterType="java.util.List" resultType="com.plateer.ec1.promotion.vo.Product">
    SELECT goods_no
            , goods_nm
            , goods_dlv_tp_cd
            , goods_tp_cd
            , case when prm_prc <![CDATA[<=]]> sale_prc
                    then prm_prc
                    when prm_prc <![CDATA[>]]> sale_prc
                    then sale_prc
                    end prc
            , prgs_stat_cd
    FROM pr_goods_base
    WHERE prgs_stat_cd = '20'
            AND goods_no IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item.goodsNo}
            </foreach>
    </select>
</mapper>